<!DOCTYPE html>
<html lang="jan">
  <head>
    <meta charset="utf-8">
    <title>todo-list</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main">
      <div class="top-detail">
        <div class="list-text">
          <h3>やることリストアプリ</h3>
          <h1>TO DO リスト</h1>
          <p>TO DO リストは、今日やることをリストアップするサービスです
            <br>
            今日やるタスクをリストに登録しよう！</p>
          <a href="/todo">リスト一覧</a>
        </div>
      </div>
      <div class="top-image">
        <img src="/img/リスト.png">
      </div>
    </div>
  </body>
</html>
